//===============================================================================
// TYPOGRAPHY
//===============================================================================
h1, h2, h3, h4, h5, h6{
  color: $header;
}

// font sizes
.tera{
  font-size: 76px;
}

.giga{
  font-size: 60px;
}

.mega{
  font-size: 42px;
}

.alpha{
  font-size: 30px;
}

.beta{
  font-size: 26px;
}

.gamma{
  font-size: 22px;
}

.delta{
  font-size: 18px;
}

.epsilon{
  font-size: 16px;
}

.zeta{
  font-size: 12px;
}

h1{
  @extend .alpha;
}

h2{
  @extend .beta;
}

h3{
  @extend .gamma;
}

h4{
  @extend .delta;
}

h5{
  @extend .epsilon;
}

h6{
  @extend .zeta;
}

.call-out{
  font-family: "brandon-grotesque";
  font-weight: 900;
  font-style: italic;
  text-transform: uppercase;
  line-height: 1.05;
}