//===============================================================================
// WORK
//===============================================================================
.wrap {
  width: 100%;
  margin: ($header-height-small + 10) auto 0;
  padding-bottom: $footer-height;

  section {
    padding: 20px 8% 1px;
    color: white;
    position: relative;

    &::before,
    &::after {
      content: "";
      position: absolute;
      height: 100%;
      width: 4.5%;
      top: 0;
      background-size: 100%;
    }

    &::before {
      left: 0;
    }

    &::after {
      right: 0;
    }
  }

  img {
    width: 100%;
    max-width: 300px;
    display: block;
    margin: 0 auto 20px;

    &:last-child {
      
    }
  }

  h2,
  h3 {
    line-height: 1.1;
    color: inherit;
  }

  h2 {
    font-size: 32px;
    margin-bottom: 10px;
  }

  h3 {
    margin-bottom: 4px;
  }
}

.work-hr {
  position: absolute;
  width: 100%;
  height: 30px;
  margin-top: -15px;
  border: 0;
  background-image: url( '../img/hr-1.svg' );
  z-index: 1;

  &:nth-child( 3n + 2 ) {
    background-image: url( '../img/hr-2.svg' );
  }

  &:nth-child( 3n + 3 ) {
    background-image: url( '../img/hr-3.svg' );
  }

  &.between {
    background-image: url( '../img/hr-4.svg' );

    &:nth-child(odd) {
      background-image: url( '../img/hr-5.svg' );      
    }
  }
}

.work-inner {
  max-width: 700px;
  margin: 0 auto;
}

img.small {
  width: 66.6666%;
}

.az-search-before {
  background-color: $pc-aqua;

  &::before {
    background-image: url( '../img/left-1.svg' );
  }

  &::after {
    background-image: url( '../img/right-2.svg' );  
  }
}

.az-search-after {
  background-color: darken($pc-aqua, 5);

  &::before {
    background-image: url( '../img/left-2.svg' );
  }

  &::after {
    background-image: url( '../img/right-1.svg' );  
  }
}

.az-inno-before {
  background-color: $pc-blue;

  &::before {
    background-image: url( '../img/left-4.svg' );
  }

  &::after {
    background-image: url( '../img/right-3.svg' );  
  }
}

.az-inno-after {
  background-color: darken($pc-blue, 5);

  &::before {
    background-image: url( '../img/left-3.svg' );
  }

  &::after {
    background-image: url( '../img/right-4.svg' );  
  }
}

.reco-before {
  background-color: $pc-orange;

  &::before {
    background-image: url( '../img/left-1.svg' );
  }

  &::after {
    background-image: url( '../img/right-2.svg' );  
  }
}

.reco-after {
  background-color: darken($pc-orange, 5);

  &::before {
    background-image: url( '../img/left-2.svg' );
  }

  &::after {
    background-image: url( '../img/right-1.svg' );  
  }
}

.bede-before {
  background-color: $pc-purple;

  &::before {
    background-image: url( '../img/left-4.svg' );
  }

  &::after {
    background-image: url( '../img/right-3.svg' );  
  }
}

.bede-after {
  background-color: darken($pc-purple, 5);

  &::before {
    background-image: url( '../img/left-3.svg' );
  }

  &::after {
    background-image: url( '../img/right-4.svg' );  
  }
}