---
title: " | people"
---
{{!-- <li class="vertical left person">
  <span class="name">{{ people.person.1.name }}</span>
  <span class="title">{{ people.person.1.title }}</span>
  <a href="{{ people.person.1.twitter }}" class="twitter">T</a>
  <img src="img/mug-shots/{{ people.person.1.image }}">
</li> --}}

