---
title: " | find us"
---
<div id="map-canvas" style="width: 100%; height: 100%"></div>

<div class="address call-out tera">
  <a href="{{ global.g-map-url }}">
    <span>W214 Westminster Business Square</span>
    <span>1-45 Durham Street</span>
    <span>London</span>
    <span>SE11 5JH</span>
  </a>
</div>

<div class="phone-email call-out tera">
  <a href="tel:+442033273940">+44 (0) 20 3327 3940</a>
  <a href="mailto:hello@pebblecode.com">hello@pebblecode.com</a>
</div>

<script type="text/javascript">
  window.onload = function() {
    var mapOptions = {
      center: new google.maps.LatLng(51.485672, -0.118554),
      zoom: 15,
      scrollwheel: false,
      disableDefaultUI: true
    };
    var map = new google.maps.Map(document.getElementById("map-canvas"),
      mapOptions);

    var marker = new google.maps.Marker({
      position: new google.maps.LatLng(51.485672, -0.118554),
      map: map,
      title: "Hello World!"
    });

    $( '.site-footer' ).hide();
  }
</script>