<div class="astrazeneca clear-fix">
  <div class="az-search-before clear-fix">
    <h2 class="call-out">AstraZeneca</h2>
    <h3 class="call-out">Harnessing knowledge</h2>

    <div class="left">
      <p>AZ had 200 million documents. If you printed them all out they would weigh more than the Titanic.</p>
      <img class="titanic" src="img/titanic.svg">
    </div>

    <div class="left">
      <p>They used over 100 different applications to search them all.</p>
      <p>That meant over 100 passwords, interfaces to learn and no common way to collate results.</p>
      <img class="hand" src="img/hand.svg">
    </div>
  </div> {{!-- end .az-search-before --}}

  <div class="az-search-after">
    <div class="clear-fix">
      <img class="left claw" src="img/claw.svg">
      <p class="left">We built a unified app store - providing a key set of search-based apps that provide universal access to these documents through a single gateway.</p>
    </div>

    <div class="clear-fix">
      <p class="left">The app store works on phones, tablets and PCs and requires no training to use.</p>
      <img class="cloud" src="img/cloud.svg">
    </div>

    <div class="clear-fix">
      <p class="left">Each month around 417,000 new documents are added, which is enough to wallpaper the pyramids every two days.</p>
      <img class="pyramid" src="img/pyramid.svg">
    </div>
  </div> {{!-- end .az-search-after --}}

  <div class="az-inovation-before">
    <h2 class="call-out">AstraZeneca</h2>
    <h3 class="call-out">Turbo-charging innovation</h2>
    <p>AZ ran innovation competitions for new ideas, but they suffered from a relatively low level of participation.</p>
    <img src="img/brain.svg">
    <p>The ideas were always submitted as lengthy academic documents which limited the number of people capable of suggesting or appraising ideas.</p>
    <p>So they missed out on the collective brainpower available.</p>
  </div> {{!-- end .az-inovation-before --}}

  <div class="az-inovation-after">
{{!--     <div class="clear-fix">
      <div class="left">
        <img src="img/innovation.svg">
      </div> --}}

      <div class="clear-fix">
        <p>We developed a collaborative innovation tool, creating a place where new ideas can be captured, shared and appraised anytime, anywhere by anyone.</p>
        <img class="innovation" src="img/innovation.svg">
        <p>Ideas start out as 140 character chunks. The crowd vote on the most attractive and only those selected by the crowd are developed any further.</p>
      </div>
    {{!-- </div> --}}

    <div class="clear-fix">
      <div class="left">
        <p>All participants get rewarded for being involved. This gets more people than ever from within the organisation involved in innovation.</p>
        <img class="trophy" src="img/trophy.svg">
        <p>Ideas are improved by wider collaboration into more rounded concepts, making the real-world application of the ideas more likely.</p>
      </div>
    </div>
  </div> {{!-- end .az-inovation-after --}}

</div> {{!-- end .astrazeneca --}}

<section class="reco-before">
  <h2 class="call-out">RecoAuto</h2>
  <h3 class="call-out">Motor repair industry software and services</h2>
  <h3 class="call-out">Creating a smarter market</h2>

  <div class="clear-fix">
    <div class="left">
      <p>Cars are being written off by insurers because they replace old parts with new ones.</p>
      <p>Old parts are not used because they are hard to source and they are not catalogued in the same way as new parts.</p>
      <img class="locate" src="img/locate.svg">
      <p>A car which is not viable for repair with new parts could be if old parts were available.</p>
    </div>

    <div class="left">
      <p>On average insurers are overpaying by £300* [Competition Commission] for their repairs, driving up insurance premiums.</p>

      <img class="three-100" src="img/300.svg">

      <p>By always using new parts the industry pays around £44M extra for accident repair each year </p>
    </div>
  </div>

</section> {{!-- end .reco-before --}}


<section class="reco-after">
  <div class="clear-fix">
    <div class="left">
      <p>We are creating a system that matches the immediate needs of repairers to a live database of secondhand parts.</p>
      <img class="complete" src="img/complete.svg">
      <p>The system lets repairers get instant quotes for parts which they order for immediate delivery.</p>
    </div>
  </div>

  <div class="clear-fix">
    <div class="left">
      <p>This means insurers avoid costly write offs, there is more work for repairers and breakers, and ultimately this improved market for secondhand parts is better for the environment and should help reduce insurance premiums.</p>

      <img class="recycle" src="img/recycle-2.svg">
    </div>
  </div>
</section> {{!-- end .reco-after --}}


<section class="bede-before">
  <h2 class="call-out">Bede Gaming Ltd</h2>
  <h3 class="call-out">a leading supplier in online gaming technology</h2>
  <h3 class="call-out">A new breed of gaming platform</h2>

  <div class="clear-fix">
    <img src="img/slot.svg">
    <p>Our client used to invent and market games for itself and its customers using industry standard gaming platforms. But they were never satisfied with the quality of the service or the software they were buying in.</p>
  </div>
</section> {{!-- end .bede-before --}}

<section class="bede-after clear-fix">
  <div class="left">
    <p>They decided to start from scratch by building their own software platform to deliver industry leading technology and games, while also integrating best of breed games from other content providers.</p>
    <img class="robot" src="img/robot.svg">
  </div>

  <div class="left">
    <p>Using pebble {code} and its skills and expertise to bolster their in-house software team, they have built a highly flexible online gaming platform, giving their customers and gamers the freedom to adapt their products and the ability to play them on any device.</p>
    <img class="flexible" src="img/flexible.svg">
  </div>
</section>