<div class="it-work">
  <section class="it-work-intro">
    <p>When it comes to IT businesses want the same things. <br>
    They want it to be easy to manage. They want it to help them. The want it to give energy rather than take it away.</p>

    <p>We specialise in three things to get your IT to a better place:</p>

    <div class="clear-fix">
      <div class="left">
        <img src="img/network.svg">
      </div>

      <div class="left">
        <img src="img/integrate.svg">
      </div>

      <div class="left">
        <img src="img/expand.svg">
      </div>
    </div>

    <div class="clear-fix">
      <div class="left">
        <p>Turning chaos into order - systems can run away with themselves - we are experts at unravelling the mess</p>
      </div>

      <div class="left">
        <p>Integrating anything with everything - with more applications on more devices than every getting everything to play nice is essential</p>
      </div>

      <div class="left">
        <p>Facilitating rapid expansion - all our IT systems can seamlessly adapted to client success</p>
      </div>
    </div>
  </section>


  <section class="mb-before">
    <h2 class="call-out">Moving Brands</h2>
    <h2 class="call-out">chaos to order</h2>

    <img src="img/question.svg">

    <p>Moving Brands need to focus on their creative output, not worrying about making their IT work.</p>
  </section>


  <section class="mb-after">
    <p>We did two things.</p>

    <div class="clear-fix">
      <div class="left">
        <p>We standardised all devices. The new reliable set-up is managed centrally, but flexible enough to give teams access to any tool or device they needed without risking security.</p>
      </div>

      <div class="left">
        <img class="network" src="img/network.svg">
      </div>
    </div>

    <div class="clear-fix">
      <div class="left">
        <img src="img/backup.svg">
      </div>

      <div class="left">
        <p class="list-title">We did a review of the infrastructure and actioned the follwing:</p>
        <ul class="text-list">
          <li>re-design of San Francisco office IT</li>
          <li>single switch stack to solve inefficient and overly complex network infrastructure</li>
          <li>disaster-proof backup upgrade</li>
          <li>storage and directory services simplification</li>
          <li>true network optimisation: better and faster connection between offices</li>
          <li>immediate software expansion - push secure and customisable software changes done simultaneously</li>
          <li>cloud-based advantages - giving scalability, speed and cost savings</li>
        </ul>
      </div>
    </div>
  </section>


  <section class="brit-before">
    <h2 class="call-out">BRIT School</h2>
    <h2 class="call-out">integration</h2>

    <div class="clear-fix">
      <div class="left">
        <img src="img/pc-left.svg">
      </div>

      <div class="left">
        <p>The school grows every year and hungrily embraces new technologies. With lots of new devices and systems available the in-house IT team struggled integrating new tech into old systems.</p>
      </div>

      <div class="left">
        <img src="img/pc-right.svg">
      </div>
    </div>
  </section>


  <section class="brit-after">
    <div class="clear-fix">
      <div class="left">
        <p>The school was introduced to pebble by Apple.</p>
        <p>We performed a network infrastructure technical audit, network analysis and reviewed suitability of all hardware</p>

        <p class="list-title">Then we:</p>
        <ul class="text-list">
          <li>consolidated server room layout</li>
          <li>created a disaster recover plan</li>
          <li>took over mac technical support</li>
          <li>implemented remotely managed mobile device management</li>
        </ul>
      </div>

      <div class="left">
        <img src="img/integrate.svg">
      </div>
    </div>

    <p class="list-title">This gave the school</p>
    <ul class="text-list">
      <li>faster and more reliable infrastructure, </li>
      <li>significant reduction in technical problems</li>
      <li>simplification of trouble shooting, </li>
      <li>stable network storage - improving reliability; </li>
      <li>remote and instantaneous software updates for whole school, </li>
      <li>Cost savings because device management was inexpensive and future-proof; </li>
      <li>time saving for school's IT staff</li>
    </ul>

    <img class="instant" src="img/instant.svg">
  </section>


  <section class="forpeople-before">
    <h2 class="call-out">forpeople</h2>
    <h2 class="call-out">rapid expansion</h2>

    <div class="clear-fix">
      <div class="left">
        <img src="img/rapid.svg">
      </div>

      <div class="left">
        <p>forpeople used to use ad-hoc IT support, which makes sense when you start out but if you grow rapidly and don’t have a  robust technical strategy in place problems start to appear.</p>
      </div>
    </div>
  </section>


  <section class="forpeople-after">
    <img src="img/expand.svg">

    <p>So we performed an audit of the existing infrastructure, got a deep understanding of the working practices to write our proposal</p>

    <ul class="text-list">
      <li>Technical support &amp; help desk</li>
      <li>Managed Mac platform</li>
      <li>Re-imaging &amp; deployment capability</li>
      <li>Introduce volume licensing</li>
      <li>Managed wireless access points</li>
      <li>Migrate to Google Apps for Business</li>
      <li>Introduce FTP solution</li>
      <li>Built a Render Farm</li>
    </ul>

    <p>What can the client do now that they couldn't do before?</p>

    <ul class="text-list">
      <li>Manage Mac &amp; PCs together</li>
      <li>Quickly add or remove software </li>
      <li>Quickly deploy new machines </li>
      <li>security &amp; policy control across devices </li>
      <li>New in-house processes with archiving &amp; new starter forms</li>
      <li>Enabled faster, more productive creative work.</li>
    </ul>
  </section>
</div>