<footer class="site-footer">
  <ul>
    <li><a href="tel:+442033273940">+44 (0) 20 3327 3940</a></li>
    <li><a href="mailto:hello@pebblecode.com">hello@pebblecode.com</a></li>
    <li><a class="find-us-link">Find Us</a></li>
  </ul>
</footer>

<div class="contact-panel">
  <div id="map-canvas" style="width: 100%; height: 100%"></div>

  <div class="address call-out">
    <a href="{{ global.g-map-url }}">
      <span>W214 Westminster Business Square</span>
      <span>1-45 Durham Street</span>
      <span>London</span>
      <span>SE11 5JH</span>
    </a>
  </div>

  <div class="phone-email call-out">
    <a href="tel:+442033273940">+44 (0) 20 3327 3940</a>
    <a href="mailto:hello@pebblecode.com">hello@pebblecode.com</a>
  </div>
</div>