<header class="site-header clear-fix">
  <a href="index.html" class="site-logo-container left">
    <img class="site-logo" src="img/logo.svg">
  </a>
  <nav class="site-nav right">
    <button class="nav-btn">Menu</button>
    <ul class="clear-fix">
      {{#each siteHeader.sections }} 
        <li>
          <a href="{{ url }}" class="nav-item" data-page="{{ page }}">
            <span>{{ page }}</span>
          </a>
        </li> 
      {{/each}}
    </ul>
  </nav>
  <div class="site-menu"></div>
</header>