//===============================================================================
// MEDIA-QUERIES
//===============================================================================
// people
//===============================================================================
@media all and (min-width: 450px) {
  .blank {
    display: block;
  }

  .address.tera,
  .phone-email.tera{
    font-size: 34px;
  }

  .people {
    position: relative;
    overflow: hidden;
    transition: opacity .25s;
    margin-bottom: 70px;

    .name,
    .title{
      display: block;
      text-align: center;
      line-height: 1;
    }

    .name{
      font-weight: 700;
      margin-top: 8px;
    }

    img{
      width: 84%;
    }

    .person{
      overflow: hidden;
    }

    &.hide {
      opacity: 0;
    }
  }

  .vertical,
  .horizontal,
  .small-square,
  .large-square {
    position: relative;
    color: white;

    &:before{
      pointer-events:none;
    }

    &:before,
    &:after {
      position: absolute;
      // background-size: 100% 100%;
      background-repeat: no-repeat;
      content: "";
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      z-index: 3;
    }

    &:after {
      border: 1px solid white;
    }

    .name {
      margin-top: 25px;
    }
  }

  .color-1 {
    background-color: which-pebble( $pc-pink, $it-blue );
  }

  .color-2 {
    background-color: which-pebble( lighten( $pc-pink, 7.5 ) ,lighten( $it-blue, 7.5 ) ); 
  }

  .color-3 {
    background-color: which-pebble( lighten( $pc-pink, 15 ) ,lighten( $it-blue, 15 ) ); 
  }

  .color-4 {
    background-color: which-pebble( lighten( $pc-pink, 22.5 ) ,lighten( $it-blue, 22.5 ) ); 
  }

  .vertical {
    &:before{
      background-image: url( '../img/vertical.svg' );  
    }

    img{
      width: 180%;
    }
  }

  .horizontal {
    &:before {
      background-image: url( '../img/horizontal.svg' );  
    }

    img{
      width: 50%;
      position: relative;
      top: -40px;
    }

    .name,
    .title{
      text-align: right;
      margin-right: 25px;
    }
  }

  .small-square {
    &:before { 
      background-image: url( '../img/small-square-1.svg' );
    }

    &:nth-child(odd):before {
      background-image: url( '../img/small-square-2.svg' );    
    }
  }

  .large-square {
    &:before { 
      background-image: url( '../img/large-square.svg' );
    }
  }
}

// Navigation media query
@media all and (min-width: 600px) {
  .address.tera,
  .phone-email.tera{
    font-size: 52px;
  }

  .blog-header {
    padding: ( $header-height-large + 10 ) 20px 20px;

    h2 {
      font-size: 62px;
    }

    h3 {
      font-size: 32px;
    }

    &::after {
      content: "";
      position: absolute;
      bottom: -39px;
      left: 0;
      width: 100%;
      height: 40px;
      background: url('../img/blog-head.svg') no-repeat;
      background-size: cover;
    }
  }

  .post {
    font-size: 18px;
    padding: 60px 20px;

    h3 {
      font-size: 26px;
    }

    .post-title {
      font-size: 42px;
    }
  }

  .author {
    font-size: 32px;
  }

  .site-header {
    height: $header-height-large;
    padding: 0 18px;
  }

  .site-logo-container{
    height: $header-height-large;
  }

  .site-logo{
    padding: 14px 12px 10px;
  }

  .site-logo-flip{
    padding: 14px 12px 10px;
  }

  .nav-btn{
    display: none;
  }

  .site-nav{
    position: static;

    ul{
      display: block;
      position: static;
      width: auto;
      padding: 0;
    }

    li{
      float: left;
      left: 0;
    }

    a{
      margin: 0;
      width: auto;
      padding: 0;
      display: inline-block;
      height: $header-height-large;
      text-decoration: none;
      position: static;
      text-align: center;

      &:first-child{
        margin: 0;
      }

      &::after{
        content: attr(data-page);
        position: absolute;
        font-weight: 300;
        -webkit-font-smoothing: subpixel-antialiased;
        top: 0;
        left: 0;
        height: $header-height-large;
        line-height: $header-height-large;
        text-align: center;
        background: which-pebble($pc-pink, $it-blue);
        color: white;
        width: 100%;

        @include vendor( transform-origin, 50% 0% );
        @include vendor( transform, rotateX(0deg) );
        @include vendor( transition, -prefix- transform .2s, background .3s );
      }

      &:hover{
        &::after{
          background: which-pebble(darken($pc-pink, 25), darken($it-blue, 15));

          @include vendor( transform, rotateX( -90deg ) );
        }
        span{
          @include vendor( transform, rotateX( 0deg ) );
          background: which-pebble(saturate(lighten($pc-pink, 7.5), 100), lighten($it-blue, 5));
        }
      }
    }

    span{
      color: white;
      font-size: 20px;
      line-height: $header-height-large - 1px;
      height: $header-height-large;
      max-height: $header-height-large;
      font-weight: 700;
      padding: 0 12px;
      display: inline-block;
      background: which-pebble($pc-pink, $it-blue);

      @include vendor( transform-origin, 50% 100% );
      @include vendor( transform, rotateX( -90deg ) );
      @include vendor( transition, -prefix- transform .3s, background .3s );
    }

    li{
      position: relative;

      &:first-child {
        margin-left: 0;
      }
    } 
  } // end .site-nav

  // header offset for larger screens
  .homepage-head,
  .wrap {
    margin-top: $header-height-large;
  }

  .people {
    top: $header-height-large;
  }

  // footer
  .contact-panel {
    display: block;
  }

  // work
  //===============================================================================
  .wrap {
    h2 {
      font-size: 62px;
    }

    h3 {
      font-size: 32px;
    }

    p {
      font-size: 22px;
    }
  }

} 

// homepage
//===============================================================================

@media all and (min-width: 720px) {

}

@media all and (min-width: 850px) {
  .address.tera,
  .phone-email.tera{
    font-size: 62px;
  }

  .homepage-head {
    padding: 120px 60px;

    h1,
    h2 {
      margin: 0;
      text-align: left;
    }

    h1{
      font-size: (108px / 1.5);
    }

    h2{
      font-size: (49px / 1.5);
      line-height: 1.1;
      font-weight: 300;
    }
  }

  // .homepage-bg{
  //   background-image: url('../img/homepage-bg.jpg');
  //   background-size: cover;
  //   position: fixed;
  //   top: 0;
  //   left: 0;
  //   bottom: 0;
  //   right: 0;
  //   z-index: -1;
  // }

  // .homepage-head{
  //   background-image: url('../img/homepage-bg.jpg');
  //   background-size: cover;
  //   padding: 120px 60px;
  //   position: relative;
  //   background-position: 0 -60px;
  //   margin-top: $header-height-small;

  //   -webkit-text-fill-color: transparent;
  //   background: -webkit-linear-gradient(transparent, transparent),
  //               url('../img/homepage-bg.jpg') repeat;
  //   background: -o-linear-gradient(transparent, transparent);
  //               -webkit-background-clip: text;

  //   &::after{
  //     background: which-pebble($code-head, $it-head);
  //     content: '';
  //     position: absolute;
  //     top: 0;
  //     left: 0;
  //     width: 100%;
  //     height: 100%;
  //     z-index: -1;
  //   }

  //   h1,
  //   h2 {
  //     color: white;
  //     margin: 0;
  //     text-align: left;
  //   }

  //   h1{
  //     font-size: (108px / 1.5);
  //   }

  //   h2{
  //     font-size: (49px / 1.5);
  //     line-height: 1.1;
  //     font-weight: 300;
  //   }
  // }

  .cta-container-small {
    display: none;
  }  

  .cta-container-large {
    display: block;
  }

  .testamonials-container {
    background: $paper;
    padding: 120px 0 240px;

    ul{
      width: 95%;
      margin: 0 auto;
    }

    li {
      margin-bottom: 60px;
    }

    .text {
      font-size: 70px;
      margin-bottom: 0;
      color: which-pebble($pc-pink, $it-blue);
      text-indent: -13px;

      &:before,
      &:after {
        content: "'";
      }
    }

    span{
      font-weight: 700;
      font-size: 26px;
    }

    .title {
      font-weight: 300;
    }
  }

  // work
  //===============================================================================
  .wrap {
    .left {
      float: left;
    }

    .az-search-before {
      .left {
        width: 50%;
      }

      // img {
      //   height: 200px;
      // }

      .titanic {
        padding-top: 160px;
      }

      .hand {
        margin-top: 40px;
        width: 60%;
      }
    }

    .az-search-after {
      position: relative;
      padding: 80px 0 40px;

      p {
        padding: 0 20% 0 15%;
      }

      .claw {
        display: block;
        position: absolute;
        top: -50px;
        width: 15%;
      }

      .cloud {
        display: none;
      }

      .pyramid {
        position: absolute;
        width: 20%;
        right: 0;
        top: 35%;
      }
    }

    .az-inovation-before {
      padding: 80px 0 40px;
      position: relative;

      h3 {
        margin-bottom: 60px;
      }

      p {
        padding-left: 36%;
      }

      img {
        float: left;
        width: 33.3333%;
        margin-top: -80px;
        padding: 0 7.5%;
      }
    }

    .az-inovation-after {
      padding: 80px 0 40px;

      img {
        max-height: 200px;
      }

      .clear-fix:first-child{
        position: relative;
        margin-bottom: 40px;

        p {
          padding-left: 27%;
        }

        img {
          position: absolute;
          width: 25%;
          left: 0;
          margin-top: -100px;
        }
      }

      .clear-fix:last-child{
        position: relative;

        p {
          padding-right: 27%;
        }

        img {
          position: absolute;
          width: 25%;
          right: 0;
          margin-top: -100px;
        }
      }
    }

    .reco-before {
      padding: 80px 0 40px;

      .left {
        width: 50%;
        position: relative;
        padding-top: 310px;
      }

      img {
        position: absolute;
        top: 0;
        height: 240px;
        width: 100%;
        max-width: 100%;
      }
    }

    .reco-after {
      padding: 80px 60px;

      .clear-fix:first-child{
        position: relative;
        margin-bottom: 40px;

        p {
          padding-left: 27%;
        }

        img {
          position: absolute;
          width: 25%;
          left: 0;
          margin-top: -80px;
        }
      }

      .clear-fix:last-child{
        position: relative;

        p {
          padding-right: 27%;
        }

        img {
          position: absolute;
          width: 25%;
          right: 0;
          margin-top: -160px;
        }
      }
    }

    .bede-before {
      padding: 80px 0 40px;
      position: relative;

      p {
        padding-left: 36%;
        margin-top: 60px;
      }

      img {
        float: left;
        width: 33.3333%;
      }
    }

    .bede-after {
      padding: 80px 0 40px;

      .left {
        width: 50%;
        position: relative;
        padding-top: 310px;
      }

      img {
        position: absolute;
        top: 0;
        height: 240px;
        width: 100%;
        max-width: 100%;
      }
    }
  }
}

@media all and (min-width: 950px) {
  .address.tera,
  .phone-email.tera{
    font-size: 72px;
  }
}

@media all and (min-width: 1000px) {
  .post-content {
    margin: 0;
  }

  .post-meta {
    position: absolute;
    top: 60px;
    right: 20px;
    max-width: 300px;
    text-align: right;

    .tags li{
      display: block;
    }
  }

  .author {
    display: block;
    margin: 0;
  }

  .date {
    margin-bottom: 20px;
  }

  .thoughts{
    margin: 40px 0 0; 
    font-size: 32px;

    a:after {
      width: 40px;
      height: 40px;
      right: -45px;
      top: 1px;
    }
  }
}
