//===============================================================================
// PEOPLE
//===============================================================================
.no-mq .people {
  top: $header-height-large;
}

.people {
  top: $header-height-small;
  position: relative;
  overflow: hidden;
  transition: opacity .25s;
  margin: 1px 0 40px;
  font-size: 16px;
  text-align: center;

  .name,
  .title{
    display: block;
    line-height: 1;
  }

  .name{
    font-weight: 700;
    margin-top: 4px;
  }

  .title {
    font-size: 14px;
    margin-top: 2px;
  }

  img{
    width: 75%;
  }

  .person{
    overflow: hidden;
  }

  &.hide {
    opacity: 0;
  }

  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border-left: 2px solid white;
    border-right: 2px solid white;
  }

  a {
    display: none;
  }
}

.vertical,
.horizontal,
.small-square,
.large-square {
  position: relative;
  color: white;

  &:before{
    pointer-events:none;
  }

  &:before,
  &:after {
    position: absolute;
    background-repeat: no-repeat;
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 3;
  }

  &:after {
    border: 1px solid white;
  }

  .name {
    margin-top: 13px;
  }
}

.color-1 {
  background-color: which-pebble( $pc-pink, $it-blue );
}

.color-2 {
  background-color: which-pebble( lighten( $pc-pink, 7.5 ) ,lighten( $it-blue, 7.5 ) ); 
}

.color-3 {
  background-color: which-pebble( lighten( $pc-pink, 15 ) ,lighten( $it-blue, 15 ) ); 
}

.color-4 {
  background-color: which-pebble( lighten( $pc-pink, 22.5 ) ,lighten( $it-blue, 22.5 ) ); 
}

.vertical {
  img{
    width: 180%;
  }
}

.horizontal {
  img{
    width: 50%;
    position: relative;
    top: -40px;
  }

  .name,
  .title{
    text-align: right;
    margin-right: 25px;
  }
}

.small-square {

}

.large-square {
  position: relative;

  h3 {
    color: white;
    font-size: 80px;
    line-height: 0.9;
    margin-bottom: 0;
  }

  p {
    position: relative;
    top: 50%;
    @include vendor( transform, translateY(-50%) );
    padding: 26px;
    text-align: left;
    font-size: 22px;
    font-weight: 700;
    line-height: 1.2
  }
}

.blank {
  display: none;
  background-color: white !important;
}

.people-cta{
  background-color: $pc-pink !important;
  cursor: pointer;

  &:hover {
    background-color: darken($pc-pink, 15) !important;    
  }
}

.people-cta-inner {
  position: relative;
  top: 50%;
  @include vendor( transform, translateY(-50%) );
}