//===============================================================================
// VARIABLES
//===============================================================================
$paper: white;
$ink: #6B7482;
$link: hsl(220,100,40);
$header: $ink;

$body-font: "museo-sans", sans-serif;

$header-height-small: 40px;
$header-height-large: 60px;
$footer-height: 100px;

$pc-pink:   hsl(342, 82, 62);
$pc-purple: #9B5CA4;
$pc-blue:   #0EA2DC;
$pc-aqua:   #37BEC0;
$pc-green:  #A4CE4E;
$pc-orange: #FAAD40;

$it-blue:   hsl(200, 100, 45);

$code-head: hsl(215, 33, 34);
$it-head: hsl(206, 20, 84);

$code-green: #37BEC0;